<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wk.mapper.TComuserMapper" >
  <resultMap id="BaseResultMap" type="com.wk.pojo.TComuser" >
    <result column="CU_ID" property="cuId" jdbcType="DECIMAL" />
    <result column="CU_USERNAME" property="cuUsername" jdbcType="VARCHAR" />
    <result column="CU_PASS" property="cuPass" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    CU_ID, CU_USERNAME, CU_PASS
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.wk.pojo.TComuserExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from T_COMUSER
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.wk.pojo.TComuserExample" >
    delete from T_COMUSER
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.wk.pojo.TComuser" >
    insert into T_COMUSER (CU_ID, CU_USERNAME, CU_PASS
      )
    values (#{cuId,jdbcType=DECIMAL}, #{cuUsername,jdbcType=VARCHAR}, #{cuPass,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.wk.pojo.TComuser" >
    insert into T_COMUSER
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="cuId != null" >
        CU_ID,
      </if>
      <if test="cuUsername != null" >
        CU_USERNAME,
      </if>
      <if test="cuPass != null" >
        CU_PASS,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="cuId != null" >
        #{cuId,jdbcType=DECIMAL},
      </if>
      <if test="cuUsername != null" >
        #{cuUsername,jdbcType=VARCHAR},
      </if>
      <if test="cuPass != null" >
        #{cuPass,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.wk.pojo.TComuserExample" resultType="java.lang.Integer" >
    select count(*) from T_COMUSER
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update T_COMUSER
    <set >
      <if test="record.cuId != null" >
        CU_ID = #{record.cuId,jdbcType=DECIMAL},
      </if>
      <if test="record.cuUsername != null" >
        CU_USERNAME = #{record.cuUsername,jdbcType=VARCHAR},
      </if>
      <if test="record.cuPass != null" >
        CU_PASS = #{record.cuPass,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update T_COMUSER
    set CU_ID = #{record.cuId,jdbcType=DECIMAL},
      CU_USERNAME = #{record.cuUsername,jdbcType=VARCHAR},
      CU_PASS = #{record.cuPass,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>